<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yutong.finalproject">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addEvent"
            android:theme="@style/AppTheme.AddEvent">
        </activity>
        <activity android:name=".courseActivity"
            android:theme="@style/AppTheme.Course">
        </activity>
        <activity android:name=".eventActivity"
            android:theme="@style/AppTheme.Event">
        </activity>
        <activity android:name=".noteActivity"
            android:theme="@style/AppTheme.Note">
        </activity>
        <activity android:name=".addCourse"
            android:theme="@style/AppTheme.AddCourse">
        </activity>
        <activity android:name=".viewActivity"
            android:theme="@style/AppTheme.Event">
        </activity>
    </application>

</manifest>